<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	

</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
    
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
	<script src="https://fb.me/react-15.0.1.js"></script>
	<script src="https://fb.me/react-dom-15.0.1.js"></script>
	<script src="~/Scripts/showdown.min.js"></script>
	<script src="~/Scripts/Tutorial.jsx"></script>
	
	
</body>
</html>
